<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seeroo.almond.api.dao.TestDao">

	<insert id="insertTest">
		insert into AD_MEMBER(
			MEM_SEQ
			, MEM_NICK
			, link_sc
			, link_sc_spc
			, Last_access_dt
			, fst_join_dt
			, lt_ch_dt
			, lt_ch_id
			)values(
			null
			, 'TEST2'
			, 'N'
			, '테스트중입니다.2'
			, (select now())
			, sysdate()
			, sysdate()
			, 'test2'
			)
	</insert>


</mapper>